@import "../../theme/variables.scss";

.article-cs {
  &__header-block {
    background-color: $ui-black;
    border-radius: 0px (4 * $basic-margin) (4 * $basic-margin) 0px;
    width: fit-content;
    padding: 2 * $basic-margin;
  }
  &__main {
    &__list {
      margin-left: 3 * $basic-margin;
    }
  }

  .list {
    &__title {
      margin: 2 * $basic-margin;
      display: flex;
      align-items: center;

      &-index {
        background-color: $ui-grey-light;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2 * $basic-margin;
        padding: $basic-margin;
        width: 4 * $basic-margin;
        height: 4 * $basic-margin;
        border-radius: 50%;
        border: 1px solid $ui-black;
      }
    }
    &__content {
      margin-left: 5 * $basic-margin;
      max-width: 50 * $basic-margin;

      a {
        color: $ui-yellow-dark;
        text-decoration: none;
      }

      &__title ~ ul li {
        list-style-type: none;
      }
      @media screen and (max-width: $breakpoint-sm) {
        margin-left: 2 * $basic-margin;
      }
    }

    &__item:hover .list__title-index {
      @keyframes glowing {
        0% {
          background-color: $ui-white;
          color: $ui-black;
          box-shadow: 0 0 5px $ui-yellow-dark;
        }
        50% {
          background-color: $ui-grey-light;
          color: $ui-grey;
          box-shadow: 0 0 7px $ui-yellow-dark;
        }
        100% {
          background-color: $ui-grey;
          color: $ui-white;
          box-shadow: 0 0 5px $ui-yellow-dark;
        }
      }
      color: $ui-white;
      background-color: $ui-grey;
      animation: glowing 1300ms;
    }
  }
}
