@import '../../../theme/variables.scss';

.home {
  .background-text {
    cursor: default;
    z-index: -1;
    opacity: 0.2;
    font-family: revert;
    font-size: 12rem;
    // text-transform: uppercase;

    @media screen and (max-width: $breakpoint-md) {
      opacity: 0.1;
    }
  }
  li {
    margin-right: 5px;
  }
  .descktop {
    display: block;
    @media screen and (max-width: $breakpoint-sm) {
      display: none;
    }
  }
  .link-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $ui-grey-light;
    padding: 0.8 * $basic-margin;
    opacity: 0.6;
    border-radius: 3 * $basic-margin;
    height: 1.8 * $basic-margin;
    cursor: pointer;
    transition: all 0.25s ease;
    width: 20 * $basic-margin;
    &__img {
      border-radius: 50%;
      background-color: $ui-grey;
      height: 2.5 * $basic-margin;
      box-sizing: border-box;
      transition: all 0.25s ease;
    }

    &:hover {
      opacity: 1;
      width: 22 * $basic-margin;

      img {
        transform: rotate(90deg);
      }
    }
  }
  .intro-block {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 80vh;

    &__experience {
      position: relative;
      margin-top: 4 * $basic-margin;
      padding-top: 4 * $basic-margin;
      margin-bottom: 4 * $basic-margin;
      padding-left: 1 $basic-margin;

      &__number {
        opacity: 0.4;
        top: -5 * $basic-margin;
        left: -1 * $basic-margin;
        font-size: 14 * $basic-margin;
        display: flex;
        align-items: center;
        position: absolute;
      }
    }
    &__description {
      @media screen and(max-width: $breakpoint-md) {
        display: none;
      }
    }
    &__right {
      position: relative;
      flex: 3;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      z-index: 3;

      * {
        max-width: 70%;
      }
    }
    &__left {
      flex: 2;

      &__img {
        position: absolute;
        left: -5 * $basic-margin;
        top: 0px;
        height: 80vh;
        min-height: 70 * $basic-margin;
        z-index: 1;

        @media screen and (max-width: $breakpoint-sm) {
          left: -10 * $basic-margin;
        }
        @media screen and (max-width: $breakpoint-xs) {
          left: -12 * $basic-margin;
        }
      }
    }
    &__hr {
      width: 10%;
      background-color: $ui-black;
      height: 0.3 * $basic-margin;
      margin: 0;
    }
    &__link {
      margin: 1.2 * $basic-margin;

      &__img {
        margin-left: $basic-margin;
      }
    }

    &__background-title {
      white-space: nowrap;
      overflow: hidden;
      position: absolute;
      left: 10%;
      top: 70 * $basic-margin;
      top: 70vh;

      z-index: -1;
      @media screen and (max-width: $breakpoint-md) {
        display: none;
      }
    }
  }
  &__article-cs {
    position: relative;
    margin-top: 5 * $basic-margin;

    .background-decoration {
      position: absolute;
      right: 10%;
      top: 0%;
      writing-mode: vertical-lr;
      text-orientation: upright;
      white-space: nowrap;

      &--design {
        right: 20%;
      }

      // &:hover {
      //   animation: rotation 0.5s linear;
      // }

      // @keyframes rotation {
      //   from {
      //     transform: rotateY(0deg);
      //   }
      //   to {
      //     transform: rotateY(180deg);
      //   }
      // }
    }

    &:hover .background-decoration {
      animation: rotation 5s infinite;

      @keyframes rotation {
        0% {
          transform: rotateY(0deg);
        }
        50% {
          transform: rotateY(180deg);
        }
        100% {
          transform: rotateY(0deg);
        }
      }
    }
  }

  &__form {
    margin-top: 10 * $basic-margin;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }
}
